@font-face {
  font-family: "Fredoka_One";
  src: url("../assets/fonts/Fredoka_One.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Fredoka_One";
  src: url("../assets/fonts/Fredoka_One.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
:root {
  font-family: "Fredoka_One";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  margin: 0 auto;
  max-width: 1024px;

  display: grid;
  text-align: center;
  justify-content: center;
  /* align-content: flex-start; */
  font-family: var(font-family);
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
p {
  font-size: 3rem;
}
div {
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 2.6rem;
  }
  div {
    font-size: 2.5rem;
  }
}

h1 {
  text-align: center;
}

#letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
}

#letters div {
  width: 2em;
  height: 2em;
  margin: 5px;
  padding-top: 0.5em;
  cursor: pointer;
  color: #13121c;
  background: #f9eace;
  line-height: 0.9;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 12px;
  transition: all 0.3s linear;
}

#letters div:hover {
  color: #f9eace;
  background: #13121c;
}

#clue {
  padding: 1rem;
  border-radius: 12px;
  color: #f9eace;
  background: #13121c;
}

#clue p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5em;
}

#letters div.used {
  background-color: lightgray;
  opacity: 0.5;
}

section#image {
  text-align: center;
}

section#image img {
  width: 20%;
}
@media screen and (max-width: 768px) {
  section#image img {
    width: 40%;
  }
}

section#gameover {
  cursor: pointer;
}

section#gameover p {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  display: none;
  border-radius: 12px;
  background-color: rgb(22, 223, 22);
}
